@font-face {
  font-family: "NunitoSansItalic";
  src: url("../fonts/NunitoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "YesevaOne";
  src: url("../fonts/YesevaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}