@import "variables";
@import "mixins";

body {
  box-sizing: border-box;
  padding: 0;
  font-family: $noonita;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.button {
  background: $yellow;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  // default transparent border; when on hover, the other elements don't move
  border: 1px solid transparent;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  font-size: 11px;
  font-family: $noonita-italic;
  cursor: pointer;

  &:hover {
    background: transparent;
    border: 1px solid;
  }
}

.label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
  @include breakpoint(mobile) {
    color: rgba(255, 255, 255, 0.5);
  }
}

.input {
  font-size: 14px;
  padding: 0 0 5px;
  display: block;
  border: none;

  &:focus {
    outline: none;
  }
}

// Checkbox
/* The container */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  @include breakpoint(mobile) {
    margin: 0;
    max-width: $mobile-content-max-width;
    color: $white;
  }
  margin: auto auto 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 26px;

  /* Hide the browser's default checkbox */
  &__input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;

    &:hover {
      background-color: $gray;
    }

    /* checkmark is hidden when not checked */
    &:after {
      content: "";
      position: absolute;
      display: none;
      // Style the checkmark
      left: 6px;
      top: 2px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  /* When the checkbox is checked, add yellow background */
  &__input:checked ~ &__checkmark{
    background-color: $yellow;

    /* Show the checkmark when checked */
    &:after {
      display: block;
    }
  }
}

// Flexbox helper class
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-fe {
    justify-content: flex-end;
  }

  &-ai-c {
    align-items: center;
  }
}

.icon-container {

  &__left {
    margin-right: 9px;
  }

  &__right {
    margin-left: 9px;
  }
}
