@import "fonts";

$white: #FFFFFF;
$yellow: #E3B873;
$black: #131313;
$gray: #C9C9C9;

$noonita: "NunitoSans", sans-serif;
$noonita-italic: "NunitoSansItalic", sans-serif;
$yeseva: "YesevaOne", sans-serif;

$mobile-content-max-width: 340px;  // 375px
